body{
    color:white;
}

    /*Inizio navbar*/

.ms_head_row{
    background-color: #2C3E50;
    min-height: 75px;
}

.ms_head_row a{
    color: white;
}

.ms_navbartoggle_color{
    color: #999;
    border-color: #999;
}

    /*Inizio sezione avatar*/

.ms_jumbo_color{
    background-color: #1ABC9C;
}

.ms_whitebar{
    background-color: white;
    min-width: 75px;
    height: 3px;
    border-radius: 15px;
    margin: 0 8px;
}

.fas.fa-star{
    font-size: 1.5rem;
}

    /*Inizio sezione portfolio*/

.ms_rowcolor_black{
    color:black
}
.ms_rowcolor_black .ms_whitebar{
    background-color: black;
}

    /*Sezione immagini portfolio*/

.ms_imgstyle{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}