body{
    color:white;
}

.ms_head_row{
    background-color: #2C3E50;
}

.ms_head_row a{
    color: white;
}

.ms_jumbo_row{
    background-color: #1ABC9C;
    padding-top: 35px;
}

.ms_navbartoggle_color{
    color: #999;
    border-color: #999;
}

.fas.fa-bars{
    margin-top: 5px;
}
.ms_whitebar{
    background-color: white;
    width: 80px;
    height: 3px;
    border-radius: 15px;
    margin: 0 8px;
}

.fas.fa-star{
    font-size: 2rem;
}

.ms_jumbo_margin{
    margin: 25px 0;
}

